<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>06_post 요청 & parameter DTO로 받기 (@ModelAttribute) & DTO 객체 리턴하기</title>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js">
	</script>
	
</head>
<body>
	<h1>06_post 요청 & parameter DTO로 받기 (@ModelAttribute) & DTO 객체 리턴하기</h1>
	<button onclick="ex06Fn()">ex06 함수 호출하기</button>
	
	

</body>

<script type="text/javascript">

	const ex06Fn = () => {
		//console.log("함수 호출 성공")
		const val1="Hello Spring Boot!!";
		
		const params = {"param1" : val1,
						"param2" : "안녕"		
		}
		
		$.ajax ({	//ajax 구문블락 
			//요청 방식 : get / post 
			//요청 주소 : /ex01	<== Controller로 보내는 요청 주소
			type: "post",
			url: "/ex06",
			
			//parameter 값을 서버로 전송하기
			data:params,
				
			
			
			//요청이 성공했을 때 실행되는 블락
			success:function(res){		//res <== 서버에서 리턴받은 DTO
				
				console.log("성공", res)
				console.log("param1 의 값", res.param1)
				console.log("param2 의 값", res.param2)
				
			},
			
			//요청 실패시 실행되는 블락 (예외처리)
			error:function(){
				console.log("실패")
			}
			
			
			
		})
		
	}

</script>

</html>