<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>10_post 요청 & parameter 전달하기 & ResponseEntity에 List 객체 리턴</title>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js">
	</script>
	
</head>
<body>
	<h1>10_post 요청 & parameter 전달하기 & ResponseEntity에 List 객체 리턴</h1>
	<button onclick="ex10Fn()">ex10 함수 호출하기</button>
	
	

</body>

<script type="text/javascript">

	const ex10Fn = () => {
		//console.log("함수 호출 성공")
		const val1="Hello Spring Boot!!";
		
		const params = {"param1" : val1,
						"param2" : "안녕"		
		}
		
		$.ajax ({	//ajax 구문블락 
			//요청 방식 : get / post 
			//요청 주소 : /ex10	<== Controller로 보내는 요청 주소
			type: "post",
			url: "/ex10",
			
			//parameter 값을 서버로 전송 할 때, JavaScript 객체로 전송하는 것이 아니라 JSON 형식으로 전송했을 때는
			//서버에서 @RequestBody 어노테이션으로 받아야 한다.
			// data를 서버로 전송할 때 JSON 형식이라고 선언 후 전송
			data:JSON.stringify(params),			//변수를 서버로 전송시 JSON 선언 후 전송
			contentType:"application/json",
			
				
			
			
			//요청이 성공했을 때 실행되는 블락
			success:function(res){		//List<DTO> 
				
				console.log("성공", res)	//res : 전체 List 출력
				console.log("성공", res.param1) 
				
				
			},
			
			//요청 실패시 실행되는 블락 (예외처리)
			error:function(){
				console.log("실패")
				
				console.log("실패 : ", res.param1)
				
				
			}
			
			
			
		})
		
	}

</script>

</html>